html, body
{
    background-color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}