.busy
{
  opacity: 0.6;
}

.ev-calendar-nav
{
  display: flex;
  justify-content: flex-end;

  button
  {
    &.btn-today
    {
      margin:0px 2px;
    }
  }
}

.appointment-row
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.appointment-col
{
  width: 14%;

}

.appointment-col__items
{
  min-height: 300px;
  padding: 0.1rem 0.1rem;

  border:1px solid #999;
  margin-bottom: 2rem;
}

.appointment-col__items
{

  .event
  {
    background: #9B1B30;
  }

  .birthday
  {
    background: #E08119;
  }

  .event,
  .birthday
  {
    border-radius: 2px;

    a,
    span
    {
      color: white;
    }
  }

}

.ev-appointment
{
  padding: 0rem 0.3rem;
  font-size: 0.75rem;

  a,
  span,
  button
  {
    display: block;
    border: 0;
    width: 100%;
    padding: 0px;
    margin: 0px;
    text-align: left;
  }

  &.work,
  &.event
  {
    &:hover,
    &:focus
    {
      // background: #F3E0BE;
      background: #f1f1f1;
      a
      {
        text-decoration: none;
        color: black;
      }
    }
  }
}

.ev-layer
{
  background: rgba(0,0,0, 0.8);
  position: fixed;
  top:0px;
  left:0px;
  height: 100%;
  width: 100%;
}

.ev-appointment-form
{
  background: white;
  width: 100%;
  min-height: 300px;
  margin-top: 5rem;
}


.ev-layer
{
  // display: none;
  z-index: 9999;

  &.show
  {
    display: block;
  }
}