.busy
{
  opacity: 0.6;
}


#ev-calendar-app
{
  .ev-add-btn
  {
    @media(max-width: $ipad-landscape )
    {
      position: fixed;
      bottom: 2rem;
      right: 1rem;
      z-index: 100;


      i
      {
        background: white;
        border-radius:50%;
        padding:3px 5px;
        box-shadow: 0px 0px 2px #999;
      }
    }
  }
}

.ev-calendar-nav
{
  display: flex;
  justify-content: flex-end;

  button
  {
    &.btn-today
    {
      margin:0px 2px;
    }
  }
}

.appointment-row
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.appointment-col
{
  width: 14.2%;

  @media(max-width: $ipad-landscape )
  {
    width: 100%;
  }
}

.appointment-col__title
{
  font-size: 1rem;
  line-height: 1.2rem;
  margin-bottom: 1rem;
}

.is-today
{
  .appointment-col__items
  {
    background: #F0EAD6;
  }

}


.appointment-col__items
{
  min-height: 100px;
  padding: 0.1rem 0.1rem;
  position: relative;
  border:1px solid #999;
  margin-bottom: 2rem;

  @media(max-width: $ipad-landscape )
  {
    min-height: 0px;
  }

  .event
  {
    background: #9B1B30;
  }

  .birthday
  {
    background: #E08119;
  }

  .leave-day
  {
    background: #d4a903;
  }

  .fewo
  {
    // background: #577284;
    background: #2A293E;
  }

  .free-day
  {
    background: $color_green;
  }

  .event,
  .birthday,
  .leave-day,
  .free-day,
  .fewo
  {
    border-radius: 2px;

    a,
    button,
    span,
    .readonly-entry
    {
      color: white;
    }
  }
}

.appointment-col__new-item
{
  position: absolute;
  bottom: 0px;

  @media(max-width: $ipad-landscape )
  {
    position: static;
  }
}

.ev-appointment
{
  padding: 0rem 0.3rem;
  font-size: 0.75rem;
  white-space: nowrap;
  margin-bottom: 0.1rem;

  a,
  span,
  button,
  .readonly-entry
  {
    display: block;
    border: 0;
    width: 100%;
    padding: 0px;
    margin: 0px;
    text-align: left;
    white-space: nowrap;

  }

  &.work,
  &.event
  {
    &:hover,
    &:focus
    {

      background: #f1f1f1;
      white-space: nowrap;

      a,
      button,
      span,
      .readonly-entry
      {
        text-decoration: none;
        color: black !important;
      }
    }
  }
}

.ev-layer
{
  background: rgba(0,0,0, 0.8);
  position: fixed;
  top:0px;
  left:0px;
  height: 100%;
  width: 100%;
}

.ev-appointment-form
{
  background: white;
  width: 100%;
  min-height: 300px;
  margin-top: 5rem;

  @media(max-width: $ipad-landscape )
  {
    margin-top: 1rem;
  }

  .modal-header
  {
    @media(max-width: $ipad-landscape )
    {
      padding: 0.5rem;
    }

  }

  .form-group
  {
    @media(max-width: $ipad-landscape )
    {
      margin-bottom:  0.3rem;
    }
  }


  .form-control
  {
    @media(max-width: $ipad-landscape )
    {
      padding:  0.1rem 0.3rem;
    }
  }

  .ev-date-field
  {
    width: 30%;

    @media(max-width: $ipad-landscape )
    {
      width: 48%;
    }
  }


}


.ev-layer
{
  // display: none;
  z-index: 9999;

  &.show
  {
    display: block;
  }
}

.ev-appointment__duration
{
  font-family: courier;
  width: 76px !important;

  &:empty
  {
    display: none !important;
  }
}


.ev-inline-add-btn
{
  border: 0;
  color: #615550;

  &:hover,
  &:focus
  {
    color: $color_red;
  }
}

.ev-appointment__note-info
{
  color: black !important;
  float:right;
  margin-top:4px;

}

.weater-forecast
{
  float: right;
  padding-right: 0px;
  margin-top: -5px;
  font-size: 1rem;
  line-height: 1.2rem;
  color: #000;
  background: #f1f1f1;
  border-radius: 5px;
  padding: 0px 5px;
  border:1px solid #ccc;
}

.weater-forecast__icon
{

  display: inline-block;
  max-width: 100%;
  padding: 2px;
  position: relative;
  top: -2px;
}

.xxx
{
  display: inline-block;
  width: 30px;
  height: 26px;
  background: #f1f1f1;
  border-radius: 50%;
  padding: 4px;
}