.is-required
{
    &:after
    {
        content: "*";
        color: $color_red;
        margin-left: 5px;
        font-weight: bold;
    }
}



button
{
    background: transparent;
}


.ev-add-btn
{
    padding: 0;
    border: 0;
    font-size: 3rem;
    color: $color_blue;

    &:hover,
    &:focus
    {
        color: darken($color_blue, 20);
    }
}


.ev-refresh-btn
{
    @media(max-width: $ipad-landscape)
    {
        width: 100%;
        margin-bottom: 2rem;
    }
}


.ev-save-btn
{
    padding: 0;
    border: 0;
    font-size: 2rem;
    background: $color_blue;
    color: white;
    border-radius: 50%;
    padding:0.5rem 1.4rem;

    &:hover,
    &:focus
    {
        background: darken($color_blue, 20);
    }

    @media(max-width: $screen-md)
    {
        width: 100%;
        border-radius: 2px;
        margin-top:2rem;
    }
}

.ev-actions
{
    &.toggled
    {
        .sub-li
        {
            display: inline-block !important;
        }

        .toggle-actions
        {
            .closed
            {
                display: none;
            }

            .opened
            {
                display: inline-block;
            }
        }
    }
}


// .ev-btn-group
// {
//     width: 200px;
//     display: inline-block;

//     li
//     {
//         &.default
//         {
//             .ev-btn
//             {
//                 width: 80%;

//                 &.toggle-actions
//                 {
//                     background: green;
//                     width: 18%;
//                 }
//             }
//         }


//         &.sub-li
//         {
//             width: 100%;
//             display: none;
//         }
//     }


//     .toggle-actions
//     {
//         .opened
//         {
//             display: none;
//         }
//     }





//     .ev-btn
//     {
//         width: 100%;
//         padding: 0.4rem;
//         border: 0;
//         color: white;

//         &:not(.toggle-actions)
//         {
//             text-align: left;
//         }




//         &.save
//         {
//             // background: #92B558;
//             background: #28a745;
//             border-bottom: 1px solid #acd8ac;

//             &:hover,
//             &:focus
//             {
//                 background: darken(#28a745, 10);
//             }
//         }

//         &.delete
//         {
//             background: $color_red;
//             // border-bottom: 1px solid #acd8ac;

//             &:hover,
//             &:focus
//             {
//                 background: lighten($color_red, 10);
//             }
//         }

//     }

// }



.ev-checkboxes
{
    display: flex;
    justify-content: space-between;

    @media(max-width: $screen-md)
    {
        flex-direction: column;
    }
}


.ev-btn-group
{
    .dropdown-menu.show
    {


    }
}
