.appointment-tooltip
{
  width: 260px;
  background: white;
  border:1px solid #ccc;
  border-radius: 5px;
  padding: 10px 10px 0px 10px;
  position: absolute;
  z-index: 500;

  left: 100px;

  @media(max-width: $screen-md)
  {
    display: none !important;
  }

  // &:before
  // {
    // position: absolute;
    // left: 100%;
    // top: 0px;
    // width: 0;
    // height: 0;
    // border-top: 13px solid transparent;
    // border-left: 26px solid $color_blue;
    // border-bottom: 13px solid transparent;
  // }
  //

  &.place-right
  {
    &:before
    {
      right: 100% !important;
      left: auto;
      border-right: 10px solid $color_blue;
      border-left: 0 !important;
    }
  }


  &:before
  {
    content: "";
    position: absolute;
    left: 100%;
    top: 2px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid $color_blue;
    border-bottom: 10px solid transparent;
  }


}

.appointment-tooltip__icon
{
  display: inline-block;
  width: 26px;
}