// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'colors';
@import 'basics';
@import 'header';
@import 'form-elements';
@import 'calendar';

.ev-color-square
{
   width:20px;
   height:20px;
   display: inline-block;
   position: relative;
   margin-top: 5px;
}

.wheel
{
    text-align: center;
}

